# Ignore .vs files
*.vs
.vs

# Ignore vscode files
*.vscode
.vscode

# Ignore Mac system files
.DS_store

# Ignore aux files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz

# Ignore files for WEST
src/WEST/output/
src/WEST/src/bitoptimized/

#Ignore test - Swami
/src/template/*.git
/src/template/dataset/
/src/template/backup/
/src/template/basic.py
/src/template/basic2.py
/src/template/basic3.py
/src/template/svm.py
/src/template/genetic.py

/paper/AAAI26/AnonymousSubmission/Word/
/paper/AAAI26/CameraReady